//Open Sans Condensed
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&display=swap&subset=cyrillic');
// Bebas Neue
// @import url('http://allfont.ru/allfont.css?fonts=bebas-neue');
// Reboot
@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-reboot.min.css');

@mixin text-size ($font, $line) {
  font-size: $font + px;
  line-height: $line + px;
}

body {
  color: #000;
  font-size: 20px;
  line-height: 27px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.container {
  max-width: 1220px;
  padding: 0 20px;
  margin: 0 auto;
}

.row {
  display: flex;
  margin: 0 -10px;
}

.title {
  text-transform: uppercase;
  font-weight: bold;

  &_one {
    @include text-size(55, 75);
    // margin-bottom: 40px;
  }
  &_two {
    @include text-size(44, 60);
    margin: 55px 0 45px 0;
    text-transform: uppercase;
    font-weight: bold;
  }
  &_white {
    color: #fff;
    margin-bottom: 40px;
  }
  &_center {
    text-align: center;
  }
  &_my-blog {
    margin-bottom: 40px;
  }
  &_contacts {
    margin-bottom: 28px;
  }
  &_inline {
    display: inline-block;
    margin-bottom: 0;
  }
  &_blog {
    margin-bottom: 0;
  }
}

.nav {
  color: #000;
  @include text-size(16, 22);

  &:hover {
    color: #FF6969;
  }
}