.footer {
  padding: 34px 0;

  &__content {
    @extend .header__content;
  }
  &__link {
    font-size: 16px;
    line-height: 22px;
    color: #000;
    padding-right: 12px;
  }
  &__copyright-text {
    font-size: 16px;
    line-height: 22px;
  }
}