.footer {
  background: #fff;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
  }
  
  &__copyright-text {
    @include text-size(16, 22);
  }

  &__link {
    padding-right: 9px;
  }
}