.header {
  background: #fff;

  &__content {
    padding: 27px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    background: url('./img/logo.png') no-repeat center / contain;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    width: 115px;
    height: 47.57px;

    &:hover {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    }
  }
  &__link {
    padding-left: 9px;
  }
}