.header {
  background: #fff;

  &__content {
    padding: 27px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1023px) and (min-width: 768px) {
      padding: 25px 0;
    }
    @media (max-width: 767px) and (min-width: 640px) {
      padding: 25px 0;
    }
    @media (max-width: 639px) {
      padding: 25px 0;
    }
  }
  &__menu {
    display: none;
    width:30px;
    height: 24px;
    border-bottom: 2px solid black; 
    border-top: 2px solid black;

    &_liner {
      height: 11px;
      border-bottom: 2px solid black;
    }

    @media (max-width: 639px) {
      display: block;
    }
  }
  &__logo {
    background: url('./img/logo.png') no-repeat center / contain;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    width: 115px;
    height: 47.57px;

    &:hover {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    }
  }
  &__link {
    padding-left: 9px;

    @media (max-width: 639px) {
      display: none;
    }
  }
}