.phone {
  position: fixed;
  right: 45px;
  bottom: 62px; 
  @media (max-width: 1023px) and (min-width: 768px) {
    display: none;
  }
  @media (max-width: 767px) and (min-width: 640px) {
    display: none;
  }
  @media (max-width: 639px) {
    display: none;
  }

  &__img {
    width: 62px;
    height: 60px;
    background-image: url('./img/phone-icon.png');
    position: absolute;
    left: 20px;
    top: 20px;
    animation: img 2s infinite;
  }

  @keyframes img {
    0%, 100% {transform: rotate(0deg);}
    50% {transform: rotate(45deg);}
  }

  &__pulse {
    width: 100px; 
    height: 100px;
    background: #ff6969;
    border-radius: 50%;
    animation: pulse 2s infinite;
  }

  @keyframes pulse {
    0% {transform: scale(0.8);}
    15% {box-shadow: 0 0 0 0px rgba(255, 105, 105, 0.4);}
    75% {box-shadow: 0 0 0 50px rgba(255, 105, 105, 0);}
    100% {transform: scale(1);}
  }
}