.yellow-button {
  @media (max-width: 1199px) and (min-width: 1024px) {
    .yellow-button__link {
      @include text-size(20, 24);
    }
  }
  @media (max-width: 1023px) and (min-width: 768px) {
    padding: 8px 17px 5px 17px;
    .yellow-button__link {
      @include text-size(22, 22);
    }
    
  }
  @media (max-width: 767px) and (min-width: 640px) {
    padding: 8px 17px 5px 17px;
    .yellow-button__link {
      @include text-size(22, 22);
    }
    
  }
  @media (max-width: 639px) {
    padding: 5px 17px 4px 17px;
    .yellow-button__link {
      @include text-size(20, 20);
    }
    
  }

  background-color: #FFE01B;
  padding: 11px 21px 9px 21px;
  width: fit-content;
  margin-right: 32px;
  transition: transform 500ms ease-in;

  &:hover {
    background: #ECCC00;
    transform: scale(1.1);
  }
  &:active{
    background: #FFEB6C;
  }
  &_center {
    display: flex;
    justify-content: center;
  }
  &__link {
    font-family: 'Bebas Neue', sans-serif;
    color: #000;
    text-transform: uppercase;
    @include text-size(24, 24);

    &:hover {
      text-decoration: none;
      color: #000;
    }
  }
}