.history {
  @media (max-width: 1199px) and (min-width: 1024px) {

  }
  @media (max-width: 1023px) and (min-width: 768px) {
    .history__content {
      padding: 30px 0 30px 0;
    }
    .gallery {
      grid-template-columns: 1fr 1fr;
      margin-bottom: 40px;
    }
    .history__title-two {
      @include text-size(32, 34);
      margin-bottom: 20px;
    }
    .history__icon-text {
      @include text-size(22, 30);
      bottom: 29px;
    }
    .history__title-one {
      margin-bottom: 30px;
    }
    .history__icon_city {
      margin-right: 0;
    }
    .history__icon {
      margin-top: 15px;
    }
  }
  @media (max-width: 767px) and (min-width: 640px) {
    .history__content {
      padding: 30px 0 30px 0;
    }
    .gallery {
      grid-template-columns: 1fr 1fr;
      margin-bottom: 40px;
    }
    .history__title-two {
      @include text-size(32, 34);
      margin-bottom: 20px;
    }
    .history__icon-text {
      @include text-size(22, 30);
      bottom: 29px;
    }
    .history__title-one {
      margin-bottom: 30px;
    }
    .history__icon_city {
      margin-right: 0;
    }
    .history__icon {
      margin-top: 15px;
    }
  }
  @media (max-width: 639px) {
    .history__content {
      padding: 30px 0 25px 0;
    }
    .gallery {
      grid-template-columns: 1fr;
      margin-top: 20px;
      margin-bottom: 25px;
    }
    .history__flex-block {
      display: block;
    }
    .history__title-two {
      @include text-size(21, 30);
      margin-bottom: 20px;
    }
    .history__page {
      margin-right: 0;
      margin-bottom: 25px;
    }
    .history__icon-text {
      @include text-size(20, 28);
    }
    .history__icon_city {
      margin-right: 0;
    }
    .history__icon {
      margin-top: 10px;
    }
    .history__title-one {
      margin-bottom: 20px;
    }
    .yellow-button {
      width: 100%;
      text-align: center;
      margin-right: 0;
    }
  }

  background: #F2F2F2;

  &__content {
    padding: 50px 0 50px 0;
  }
  &__flex-block {
    display: flex;
  }
  &__page {
    min-width: 280px;
    height: 287px;
    background: url('./img/girl.png') no-repeat center / cover;
    margin-right: 20px;
  }
  &__title-one {
    margin-bottom: 55px;
  }
  &__title-two {
    font-size: 45px;
    line-height: 61px;
    margin-bottom: 35px;
  }
  &__icon {
    margin-right: 20px;
    margin-top: 22px;
    display: inline-block;

    &_city {
      display: inline-block;
      background-image: url('./img/sprite.png');
      width: 71px;
      height: 71px;
      background-position: -7px 0;
      margin-right: 7px;
    }
    &_photo {
      display: inline-block;
      background-image: url('./img/sprite.png');
      width: 71px;
      height: 71px;
      background-position: -78px 0;
      margin-right: -3px;
    }
    &_data {
      display: inline-block;
      background-image: url('./img/sprite.png');
      width: 71px;
      height: 71px;
      background-position: -149px 0;
      margin-right: -1px;
    }
  }
  &__icon-text {
    display: inline-block;
    @include text-size(24, 33);
    position: relative;
    bottom: 19px;
  }
}

.gallery {
  // flex-wrap: wrap;
  margin-top: 27px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}


