$text-center: center;

.title_center {
  text-align: $text-center;
}

.info-block {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./img/info-block.png') no-repeat center / cover;

  &__content {
    padding: 35px 0;
  }
  &__text {
    color: $color;
    margin: 0;
  }
}

.contacts {
  background-color: #23374F;

  &__content {
    padding: 33px 0;
  }
  &__wrapper-link {
    text-align: $text-center;
  }
  &__link, &__link:hover {
    color: $color;
  }
}

