.info-block {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./img/rectangle.png') no-repeat center / cover;
  padding: 50px 0 70px 0;
  color: #FFFFFF;

  &__title {
    margin-bottom: 40px;
  }
  &__flex-block {
    @extend %flexbox;
  }
  &__page {
    min-width: 280px;
    min-height: 265px;
    background: url('./img/girl.png') no-repeat center / cover;
    margin-right: 20px;
  }
  &__text_indent {
    margin-bottom: 57px;
  }
  &__button {
    @include button(127px, 14px 0, #FFE01B, center); 
    @include text-size(24px, 24px);
    // font-family: 'Bebas Neue', arial;

    &_link {
      text-transform: uppercase;
      @extend %linkstyle;
    }
  }
}

.my-blog {
  @include fon-block(#F2F2F2, 54px 0 55px 0);

  &__title {
    text-align: center;
    margin-bottom: 40px;
  }
  &__flex-block {
    @extend %flexbox;
    flex-wrap: wrap;
  }
  &__wrapper-block {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.07);
  }
  &__image {
    @include page-size(380px, 185px);
    background-image: url('./img/fon-small.png');
  }
  &__news {
    width: 380px;
    @include fon-block(#FFFFFF, 15px 19px 20px 21px);

    &_title {
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 10px;
    }
    &_text {
      text-align: justify;
      margin-bottom: 47px;
    }
  }
  &__data {
    display: inline-block;
    margin-bottom: 0;
  }
  &__button {
    @include button(214px, 13px 0, #FFE01B, center);
    @include text-size(24px, 24px); 
    // font-family: 'Bebas Neue', arial;
    display: inline-block;
    margin-right: 21px;

    &_link {
      text-transform: uppercase;
      @extend %linkstyle;
    }
    &_all-news {
      @include button(278px, 13px 0, #FFE01B, center);
      @include text-size(24px, 24px); 
      // font-family: 'Bebas Neue', arial;
      margin: 59px auto 0 auto;
    }
  }
}

.contacts {
  @include fon-block(#FFE01B, 33px 0 54px 0);

  &__title {
    text-align: center;
    margin-bottom: 30px;
  }
  &__flex-block {
    @extend %flexbox;
  }
  &__wrapper-link {
    width: 280px;
    height: 171px;
    background-color: #343434;
    padding-top: 56px;
    text-align: center;
  }
}

.phone {
  position: fixed;
  right: 30px;
  bottom: 70px;
}