.blog {
  @include fon-block(#F2F2F2, 49px 0 54px 0);

  &__title {
    margin-bottom: 70px;
  }
  &__flex-block {
    height: 1002px;
    @extend %flexbox;
    align-content: space-between;
    flex-wrap: wrap;
  }
}