.my-blog {
  background-color: #FFE01B;
  padding: 50px 0;

  &__title-one {
    @extend %bold-uppercase;
    margin-bottom: 70px;
  }
  &__title-two {
    @extend %bold-uppercase;
    @extend %textsize;
    margin-bottom: 40px;
  }
  &__image {
    margin-bottom: 35px;
  }
  &__line {
    border: 1px solid #000;
    margin: 53px 0 47px 0;
  }
  &__text {
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 20px;

    &_indent {
      margin-bottom: 0;
    }
  }
}