.news {
  @media (max-width: 1199px) and (min-width: 1024px) {

  }
  @media (max-width: 1023px) and (min-width: 768px) {
    .news__title {
      @include text-size(33, 45);
      margin: 25px 0 25px 0;
    }
    .news__content {
      padding: 25px 0 40px 0;
    }
    .news__image {
      margin-bottom: 25px;
    }
    .news__text_indent {
      margin-bottom: 35px;
    }
    .news__text_data {
      margin-top: 30px;
    }
  }
  @media (max-width: 767px) and (min-width: 640px) {
    .news__title {
      @include text-size(33, 45);
      margin: 30px 0 25px 0;
    }
    .news__content {
      padding: 30px 0 40px 0;
    }
    .news__image {
      margin-bottom: 25px;
    }
    .news__text_indent {
      margin-bottom: 35px;
    }
    .news__text_data {
      margin-top: 30px;
    }
  }
  @media (max-width: 639px) {
    .news__title {
      @include text-size(20, 30);
      margin: 20px 0 15px 0;
    }
    .news__content {
      padding: 30px 0 25px 0;
    }
    .news__image {
      margin-bottom: 15px;
    }
    .news__text_indent {
      margin-bottom: 25px;
    }
    .news__text_data {
      margin-top: 20px;
    }

  }

  background: #F2F2F2;

  &__content {
    padding: 50px 0 50px 0;
  }
  &__title {
    @include text-size(44, 60);
    margin: 40px 0 35px 0;
    text-transform: uppercase;
    font-weight: bold;
  }
  &__image {
    max-width: 1180px;
    height: 299px;
    background-image: url('./img/fon.png');
    margin-bottom: 40px;
  }
  &__text {
    max-width: 980px;
    margin: 0 auto;

    &_indent {
      margin-bottom: 55px;
    }
    &_data {
      margin: 40px 0 0 0;
    }
  }
}
