.news {
  background: #F2F2F2;

  &__content {
    padding: 50px 0 57px 0;
  }
  &__image {
    width: 1180px;
    height: 299px;
    background-image: url('./img/fon.png');
    margin-bottom: 40px;
  }
  &__text {
    width: 980px;
    margin: 0 auto;

    &_indent {
      margin-bottom: 55px;
    }
    &_data {
      margin: 40px 0 0 0;
    }
  }
}
