.flex {
  
  background-color: red;

  &__content {
    flex-wrap: wrap;
    height: 350px;
    display: flex;

    background-color: green;
  }
  &__logo {
    width: 150px;
    height: 70px;
    background-color: blue;
    
  }
  &__links {
    display: flex;
    flex-wrap: wrap;
  }
  &__link {
    // margin: 0 10px;
    height: fit-content;
    width: 150px;
    background-color: white;
  }
}