<div class="my-blog__wrapper-block">
  <div class="my-blog__image"></div>
  <div class="my-blog__news">
    <h3 class="my-blog__news_title">Сегодня ходил в клуб заря</h3>
    <p class="my-blog__news_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum distinctio quasi culpa eveniet assumenda quia qui molestiae est ea odio quos voluptatibus perspiciatis, ipsam impedit tempore ducimus omnis deserunt adipisci inventore dicta consectetur...</p>
    <a class="my-blog__button_link" href="./news.html">
      <div class="my-blog__button">
        Перейти к новости
      </div>
    </a>
    <p class="my-blog__data">26.06.2019</p>
  </div>
</div>